.cart-page {
  user-select: none;
  min-height: 80vh;
}
.cart-page .t-head .tr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-template-columns: 10% 33% 10% 17% 18% 19%;
  align-items: center;
  margin-top: 15px;
  background-color: #eee;
  padding: 5px 10px;
}

.cart-page .t-body {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  background-color: #eee;
  padding: 5px 10px;
  align-items: center;
  flex-wrap: wrap;
}
.cart-page .t-body .tr {
  width: 100%;
  padding: 3px;
  align-items: center;
  margin-top: 12px;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); */
  grid-template-columns: 10% 33% 10% 17% 18% 19%;
}
.cart-page .t-body .tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.cart-page .t-body .tr:last-child {
  padding-bottom: 10px;
}
.cart-page .t-body .td {
  padding: 0;
}

.cart-page .quantity {
  display: flex;
  align-items: center;
  user-select: none;
}
.cart-page .quantity .box {
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-page .total {
  font-weight: 600;
  color: var(--main-color);
}
.cart-page .delete {
  cursor: pointer;
  transition: 0.3s;
}
.cart-page .delete:hover {
  color: var(--main-color);
}
.cart-page .process {
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  margin-top: 100px;
}
.cart-page .process .clear-cart {
  color: red;
  font-size: 17px;
  border: 1px solid red;
  padding: 5px 13px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.cart-page .process .clear-cart .clear-icon {
  font-size: 25px;
  margin-right: 7px;
}

.cart-page .process .total-prices .total-amount {
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
}
.cart-page .process .chckout {
  margin-top: 10px;
}
.cart-page .process .chckout button {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 6px 15px;
  border-radius: 4px;
  width: 100%;
}
.empty-cart {
  min-height: 72vh;
}
.empty-cart .empty-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.empty-cart .shopping-empty {
  font-size: 20px;
  font-weight: 600;
}
.empty-cart button {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 5%;
}
@media (min-width: 868px) and (max-width: 1044px) {
  .cart-page .t-head .tr {
    display: flex;
    justify-content: space-between;
  }
  .cart-page .t-body .tr {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .cart-page {
    overflow-x: scroll;
  }
  .cart-content {
    min-width: 1000px;
  }
}
