.cont_header {
  background-color: var(--main-color);
  color: white;
  padding: 15px 0px;
}
/* Start Header Top */
.cont_header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #151554bf;
  padding-bottom: 20px;
}
.cont_header .header-top .header-info {
  display: flex;
  align-items: center;
}
.cont_header .header-top .header-info .info {
  margin-left: 10px;
  cursor: pointer;
}
.cont_header
  .header-top
  .header-info
  .info:not(.cont_header .header-top .header-info .info.icon) {
  border-right: 1px solid #363688;
  padding-right: 10px;
}
.cont_header .header-top .header-info .info .face {
  font-size: 16px;
}
.cont_header .header-top .header-info .info .insta {
  font-size: 19px;
}
.cont_header .header-top .header-tech {
  display: flex;
  align-items: center;
}
.cont_header .header-top .header-tech .tech {
  margin-right: 15px;
  cursor: pointer;
}
.cont_header .header-top .header-tech .tech:not(:first-child) {
  border-right: 1px solid #363688;
  padding-right: 10px;
}
/* End Header Top */
/* Start Header Bottom */
.cont_header .header-bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* End Header Bottom */
@media (max-width: 991px) {
  .cont_header .header-top {
    flex-direction: column;
  }
  .cont_header .header-top .header-tech {
    margin-top: 15px;
  }
  .cont_header
    .header-top
    .header-info
    .info:not(.cont_header .header-top .header-info .info.icon) {
    border-right: 1px solid #363688;
    padding-right: 5px;
    font-size: 15px;
  }
}
